*.o
charset/sbcsdat.c
mac/Makefile.mpw
macosx/Makefile
unix/Makefile.gtk
unix/Makefile.in
unix/Makefile.ux
unix/plink
unix/pscp
unix/psftp
unix/pterm
unix/putty
unix/puttygen
unix/puttytel
windows/DEVCPP/
windows/MSVC/
windows/Makefile.bor
windows/Makefile.cyg
windows/Makefile.lcc
windows/Makefile.vc
windows/*.obj
windows/putty.exe
windows/putty.map
windows/putty.rsp
windows/putty.res
windows/slutty.exe
